.header {
  float: left;
  /* position: absolute; */
  background-color: aquamarine;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.header > img {
  position: relative;
  width: 250px;
  display: inline-block;
  margin: 0 auto;
}
.header nav {
  background-color: darkgray;
  border: 3px solid rgb(33, 62, 4);
  margin: 0 auto;
  padding: 3px;
}
nav a {
  padding: 20px;
  margin: 0 auto;
}

#column1 {
  background: #33ccff;
  width: 33%;
  float: left;
  height: 200px;
  text-align: center;
}

#column2 {
  background-color: aqua;
  float: left;
  width: 34%;
  height: 200px;
  text-align: center;
}
#column3 {
  background-color: darkorchid;
  float: right;
  width: 33%;
  height: 200px;
  text-align: center;
}
footer {
  background-color: rgb(10, 78, 78);
  clear: both;
  text-align: center;
  color: aliceblue;
}
