.header {
  float: left;
  /* position: absolute; */
  background-color: aquamarine;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.header > img {
  position: relative;
  width: 250px;
  display: inline-block;
  margin: 0 auto;
}
.header nav {
  background-color: darkgray;
  border: 3px solid rgb(33, 62, 4);
  margin: 0 auto;
  padding: 3px;
}
nav a {
  padding: 20px;
  margin: 0 auto;
}
#column1 {
  background-color: blueviolet;
  float: left;
  width: 30%;
  padding: 0% 0.5% 0% 0.5%;
  /* margin: 0 auto; */
}

#column2 {
  background-color: cornflowerblue;
  float: left;
  width: 30%;
}
#column3 {
  background-color: darkorchid;
  float: right;
  width: 30%;
  padding: 0% 0.5% 0% 0.5%;
}
footer {
  background-color: aqua;
  clear: both;
  text-align: center;
}
