body {
  font-family: "Happy Monkey", serif;
}
.container {
  width: 800px;
  justify-content: center;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
  box-shadow: 0 8px 8px 0 #464939;
}
p,
li {
  color: #707070;
}
header {
  text-align: center;
}
h1 {
  color: #db0038;
}
h2 {
  color: #3998a3;
}
h3 {
  color: #474747;
  font-size: 12pt;
}
.hero {
  text-align: center;
  padding-bottom: 10px;
}
li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.rating {
  text-align: center;
}
.rating span {
  color: #f4b400;
  size: 25px;
}
footer {
  text-align: center;
}
