img {
  width: 50px;
}
#face {
  position: absolute; /*not needed*/
  width: 400px;
}
#eyes1 {
  position: absolute;
  top: 225px;
  left: 200px;
  transform: translate(-50%, -50%);
  width: 200px;
}
#hair1 {
  position: absolute;
  top: 125px;
  left: 210px;
  transform: translate(-50%, -50%);
  width: 315px;
}
#nose2 {
  position: absolute;
  top: 275px;
  left: 200px;
  transform: translate(-50%, -50%);
  width: 100px;
}
#mouth1 {
  position: absolute;
  top: 355px;
  left: 200px;
  transform: translate(-50%, -50%);
}
